<div *ngFor="let task of tasks">
	<div *ngIf=(task.time)>
  <div *ngIf=(task.name) class="card">
  	<header class="card-header">
    	<p class="card-header-title">
      	{{task.name}}
    	</p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      <time datetime="2016-1-1">{{task.time}}</time>
    </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item" (onclick)="complete()">Completed</a>
    <a  class="card-footer-item">To Do</a>
    <a  class="card-footer-item">Delete</a>
  </footer>
</div>
</div>
</div>